<div class="content">
<?php View::content(); ?>
<h3>Editar Beneficio<h3>
 
<?php echo Form::open(); // por defecto llama a la misma url ?>
 
        <label>Nombre
        <?php echo Form::text('beneficio.nombre') ?></label>
 
        <label>Descripcion
        <?php echo Form::text('beneficio.descripcion') ?></label>
        <label>Codigo
        <?php echo Form::text('beneficio.codigo') ?></label>
 		<label>Descripcion
        <?php echo Form::text('beneficio.descripcion') ?></label>
        <label>Tiempo de respuesta
        <?php echo Form::text('beneficio.estimado') ?></label>
        <?php echo Form::submit('Actualizar') ?>
 
<?php echo Form::close() ?>
</div>