<div class="content">
    <?php View::content(); ?>
    <h3>Beneficios</h3>
    <ul>
    <?php foreach ($listBeneficios->items as $item) : ?>
    <li>
        <?php echo Html::linkAction("edit/$item->id/", 'Editar') ?>
        <?php echo Html::linkAction("del/$item->id/", 'Borrar') ?>
        <strong><?php echo $item->nombre ?> - <?php echo $item->codigo?></strong>
    </li>
    <?php endforeach; ?>
    </ul>
 
     <!-- ejemplo manual de paginador, hay partial listos en formato digg, clasic,.... -->
    <?php if($listBeneficios->prev) echo Html::linkAction("index/$listBeneficios->prev/", '<< Anterior |'); ?>
    <?php if($listBeneficios->next) echo Html::linkAction("index/$listBeneficios->next/", 'Próximo >>'); ?>
</div>